/* You can add global styles to this file, and also import other style files */
* { /* Todos os elementos */

    padding: 0px; /* Margem interna */
    margin: 0px; /* Margem externa */
    box-sizing: border-box; /* Muda a estrutura de espaçamentos */
    font-family: "Inter";

}